# Paquetes básicos para web scraping
requests
beautifulsoup4
selenium
webdriver-manager
lxml
scrapy
playwright
undetected-chromedriver

# Procesamiento de datos
pandas
numpy

# Visualización de datos
matplotlib
seaborn
plotly
folium

# Manipulación de archivos
openpyxl
xlsxwriter
pyarrow

# Geocodificación y mapas
geopy
geopandas

# Utilidades
tqdm
python-dotenv
fake-useragent
requests-html
schedule
pytz
translate
subprocess32
chromadb

# Herramientas de análisis
scikit-learn
statsmodels

# Jupyter y notebooks
jupyter
jupyterlab
notebook
ipywidgets

# LLama Index packages
llama-index
llama-index-llms-ollama
llama-index-core
llama-index-embeddings-openai
llama-index-vector-stores-chroma
llama-index-embeddings-ollama

# Otros módulos (La mayoría son parte de la biblioteca estándar de Python)
# re, datetime, time, os, warnings, random, ssl, shutil, collections